registry=https://registry.npmmirror.com
@x-plateform:registry=https://packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/
@x-plateform-mono:registry=https://packages.aliyun.com/68634499d30688ffa51fe2b4/npm/repo-npm/
always-auth=true
